<div>This is the usuarios-list view.</div>
<form ng-submit="vm.createUser()">
    <label for="" >Tipo Documento</label>
    <input type="number" ng-model="vm.usuario.tipoDocumento.id">

    <label for="" >Numero Documento</label>
    <input type="text" ng-model="vm.usuario.numDocumento">

    <label for="" >Nombres</label>
    <input type="text" ng-model="vm.usuario.nombres">

    <label for="" >Apellidos</label>
    <input type="text" ng-model = "vm.usuario.apellidos">

    <label for="" >Email</label>
    <input type="text"  ng-model="vm.usuario.email">

    <label for="" >Password</label>
    <input type="password" ng-model="vm.usuario.password">

    <label for="" >Sexo</label>
    <input type="text"  ng-model="vm.usuario.sexo">

    <label for="" >Ciudad</label>
    <input type="number" ng-model="vm.usuario.ciudad.id">

    <label for="" >Activo</label>
    <input type="text" ng-model="vm.usuario.activo">

    <button type="submit" >Registrarse</button>
</form>
